<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{article.title}} - Almaember's blog</title>
    <link rel="stylesheet" type="text/css" href="/blog.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/posts.html">Posts</a></li>
            <li><a href="/aboutme.html">About me</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
    </nav>
    <main>
        <!-- main content -->
        <article>
            {{#if article.date}}
                <p><i>Published: {{article.date}}</i></p>
            {{/if}}
            <h1>{{article.title}}</h1>
            {{{article.content}}}
        </article>

        <!-- sidebar -->
        <aside>
            <section id="pfp">
                <img src="/img/pfp-min.jpg" type="image/jpeg">
            </section>
            <section id="about">
                <h1>Almaember</h1>
                <p>I'm a 15 year old hobby developer. I am interested in, among others:
                </p>
                <ul>
                    <li>C, Golang, desktop development</li>
                    <li>web development</li>
                    <li><em><a href="/aboutme.html">...and more</a></em></li>
                </ul>
            </section>
        </aside>
    </main>
    <footer>
        <p>&copy; 2021 almaember.com. For licensing details, see <a href="/licensing.html">Licensing</a></p>
        <p>Made with ❤ and without JavaScript by <a href="https://twitter.com/@dralmaember">almaember</a>.</p>
    </footer>
</body>
</html>